---
export interface Props {
  period: string;
  role: string;
  company: string;
  companyUrl?: string;
  description: string;
  isLast?: boolean;
}

const { period, role, company, companyUrl, description, isLast = false } = Astro.props;
---

<li
  class="grid gap-x-3"
  style="grid-template-columns: 12px 1fr; grid-template-rows: auto 1fr;"
>
  <!-- Dot -->
  <div class="flex items-center justify-center">
    <div
      class="h-3 w-3 shrink-0 rounded-full border border-neutral-400 bg-neutral-200 dark:border-neutral-600 dark:bg-neutral-800"
    >
    </div>
  </div>

  <!-- Date -->
  <time
    class="font-mono text-xs font-normal leading-none text-neutral-600 dark:text-neutral-400 self-center"
  >
    {period}
  </time>

  <!-- Línea continua -->
  <div class="flex justify-center">
    {
      !isLast && (
        <div class="w-0.5 h-full bg-neutral-300 dark:bg-neutral-800"></div>
      )
    }
  </div>

  <!-- Contenido -->
  <div class:list={["mt-2", isLast ? "pb-0" : "pb-7"]}>
    <div class="flex flex-col space-y-1">
      <h3 class="text-base sm:text-lg font-semibold tracking-tight text-gray-900 dark:text-white">
        {role}
      </h3>

      {
        companyUrl ? (
          <a
            href={companyUrl}
            target="_blank"
            rel="noopener"
            class="group flex w-max items-center text-pretty text-sm font-medium text-neutral-500 dark:text-neutral-400 transition-colors duration-150 hover:text-black dark:hover:text-white"
          >
            <span>{company}</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="ml-1 duration-150 group-hover:translate-x-[1.5px]"
            >
              <path d="M7 7h10v10"></path>
              <path d="M7 17 17 7"></path>
            </svg>
          </a>
        ) : (
          <p class="text-sm font-medium text-neutral-500 dark:text-neutral-400">{company}</p>
        )
      }
    </div>

    <p class="mt-3 text-pretty text-sm text-neutral-600 dark:text-neutral-400 leading-relaxed">
      {description}
    </p>
  </div>
</li>
